# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Testing
coverage/

# Production
build/
dist/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/

# Database
*.sqlite
*.db

# Next.js
.next/
out/
*.tsbuildinfo
next-env.d.ts
.vercel

# Prisma
prisma/*.db
prisma/migrations/ 